// html {
//   overflow-y: scroll;
// }

@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('/static/fonts/DinTextArabic-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('/static/fonts/DINNextLTArabic-Light.ttf');
  font-weight: normal;
  font-style: normal;
}


html, body {
  background: white;
//  font-family: $droid-sans;
  font-family: 'Droid Arabic Kufi', 'sans-serif';
  font-size: 1em;
  font-style: normal;
  line-height: 1em;
  direction: ltr !important;
  //-webkit-font-smoothing: antialiased;
}

.container {
  max-width: 960px!important;
}

h1, h2, h3, h4, h5, h6 {
  color: $base-font-color;
  font: normal 1.2em/1.2em $droid-sans;
  margin: 0px;
}

h1 {
  color: $base-font-color;
  font: normal 2em/1.4em $droid-sans;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  //text-transform: uppercase;
}

h2 {
  color: $lighter-base-font-color;
  font: normal 1.2em/1.2em $droid-sans;
  letter-spacing: 0px;
  margin-bottom: 15px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

p + h2, ul + h2, ol + h2 {
  margin-top: 40px;
}

p {
  color: $base-font-color;
  font: normal 1em/1.6em $droid-sans;
  margin: 0px;
}

span {
  font: normal 1em/1.6em $droid-sans;
  color: $base-font-color;
}

/* Fix for CodeMirror: prevent top-level span from affecting deeply-embedded span in CodeMirror */
.CodeMirror span {
  font: inherit;
}

p + p, ul + p, ol + p {
  margin-top: 20px;
}

p {
  a:link, a:visited {
    color: $link-color;
    font: normal 1em/1em $droid-sans;
    text-decoration: none;
    @include transition(all 0.1s linear 0s);

    &:hover, &:focus {
      color: $link-color;
      text-decoration: none;
    }
  }
}

a:link, a:visited {
  color: $link-color;
  font: normal 1em/1em $droid-sans;
  text-decoration: none;
  @include transition(all 0.1s linear 0s);

  &:hover, &:focus {
    text-decoration: none;
  }

  &:disabled, &.is-disabled, &.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
}

a:focus {
  /**
   *  Add general focus styling here
   *  for example:
   *      outline: 3px groove $black;
   **/
}

.content-wrapper {
  margin: 0 auto;
  background: $content-wrapper-bg;
  padding-bottom: ($baseline/2);
}

.container {
}

span.edx {
  text-transform: none;
  font: inherit;
}

.static-container {
  @include clearfix;
  margin: 0 auto 0;
  padding: 60px 0px 120px;

  .inner-wrapper {
    margin: 0 auto 0;
  }

  ol, ul {
    list-style: disc;

    li {
      color: $base-font-color;
      font: normal 1em/1.4em $droid-sans;
      margin: 0px;
    }
  }

  h1 {
    margin-bottom: 30px;
  }

  h1 + hr {
    margin-bottom: 60px;
  }

  p + h2, ul + h2, ol + h2 {
    margin-top: 40px;
  }

  ul + p, ol + p {
    margin-top: 20px;
  }
}

.loading-animation {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background: url(../images/spinner.gif) no-repeat;
}

mark {
  padding: 0 3px;
  border-radius: 2px;
  background-color: #f7e9a8;
  color: #333;
}

.site-status {
  display: none;
  padding: 10px;
  @include linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .0));
  background-color: $site-status-color;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .3) inset;
  font-size: 14px;

  .white-error-icon {
    position: relative;
    top: -4px;
    float: left;
    display: block;
    width: 27px;
    height: 24px;
    margin-right: 15px;
    background: url(../images/large-white-error-icon.png) no-repeat;
  }

  .inner-wrapper {
    margin: auto;
  }

  p {
    line-height: 1.3;
    color: #fff;
  }
}

.ie-banner {
  display: none;
  margin: auto;
  border-radius: 0 0 3px 3px;
  background: #f4f4e0;
  color: #3c3c3c;
  padding: 5px 20px 8px;
  font-size: 13px;
  text-align: center;

  strong {
    font-weight: 700;
  }
}

.help-tab {
  @include transform(rotate(-90deg));
  @include transform-origin(0 0);
  top: 250px;
  left: 0;
  position: fixed;
  z-index: 99;

  a:link, a:visited {
    cursor: pointer;
    border: 1px solid #ccc;
    border-top-style: none;
    border-radius: 0px 0px 10px 10px;
    background: transparentize(#fff, 0.25);
    color: transparentize(#333, 0.25);
    font-weight: bold;
    text-decoration: none;
    padding: 6px 22px 11px;
    display: inline-block;

    &:hover, &:focus {
      color: #fff;
      background: $link-color;
    }
  }
}

.help-buttons {
  padding: 10px 50px;

  a:link, a:visited {
    padding: 15px 0px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    text-decoration: none;
    display: block;
    border: 1px solid #ccc;

    &#feedback_link_problem {
      border-bottom-style: none;
      border-radius: 10px 10px 0px 0px;
    }

    &#feedback_link_question {
      border-top-style: none;
      border-radius: 0px 0px 10px 10px;
    }

    &:hover, &:focus {
      color: #fff;
      background: $link-color;
    }
  }
}

#feedback_form {
  input, textarea {
    font: normal 1em/1.4em $sans-serif;
  }
  textarea[name="details"] {
    height: 150px;
  }
}

#feedback_success_wrapper {
  p {
    padding: 0 20px 20px 20px;
  }
}

// ====================

// UI - disabled state
.is-disabled {
  @extend %ui-disabled;
}

// UI - semantically hide text
.sr {
  @extend %text-sr;
}

// UI - skipnav
.nav-skip {
  display: block;
  position: absolute;
  left: 0px;
  top:- ($baseline*30);
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: $white;
  border-bottom: 1px solid $border-color-4;
  padding: ($baseline*0.75) ($baseline/2);

  &:focus, &:active {
    position: static;
    width: auto;
    height: auto;
  }
}

// added by nartiano
    #remember-yes{
        margin-top: 5px;
    }
    #how-it-work h3{
    color: #727272;
    float: left;
    font-size: 24px;
    text-align: center;
    width: 100%;
    }
    .nart-partners a div{
      height: 97px;
      float: left;
    }
    .nart-mit{
      min-width: 160px;
      background: url(../images/partners_logo.png) 0px 0px no-repeat;
    }
    .nart-mit:hover{
      background: url(../images/partners_logo.png) 0px -97px no-repeat;
    }
    .nart-harvard{
      min-width: 200px;
      background: url(../images/partners_logo.png) -200px 0px no-repeat;
    }
    .nart-harvard:hover{
      background: url(../images/partners_logo.png) -200px -97px no-repeat;
    }
    .nart-aub{
      min-width: 120px;
      background: url(../images/partners_logo.png) -430px 0px no-repeat;
    }
    .nart-aub:hover{
      background: url(../images/partners_logo.png) -430px -97px no-repeat;
    }
    .nart-edx{
      min-width: 160px;
      background: url(../images/partners_logo.png) -570px 0px no-repeat;
    }
    .nart-edx:hover{
      background: url(../images/partners_logo.png) -570px -97px no-repeat;
    }
    .nart-bayt{
      min-width: 200px;
      background: url(../images/partners_logo.png) -750px 0px no-repeat;
    }
    .nart-bayt:hover{
      background: url(../images/partners_logo.png) -750px -97px no-repeat;
    }
    .nart-qrta{
      min-width: 120px;
      background: url(../images/partners_qrta.png) 10px 0px no-repeat;
    }
    .nart-qrta:hover{
      background: url(../images/partners_qrta.png) 10px -96px no-repeat;
    }



    .nart-border-left{
        border-left: 1px solid #646464;
    }
    .nart-nav{
        margin-top: 0px;
    }
    .nart-nav li{
        float: none;
    }
    .nart-nav > li.active > a:hover{
        background-color: #ffffff !important;
        color: #1D9DD9;
     }
    .nart-nav > li.active > a{
        background-color: #ffffff !important;
        color: #1D9DD9;
     }
    .nart-nav > li > a:hover{
        background-color: #ffffff !important;
        color: #1D9DD9;
     }
    .nart-nav > li.active > a:focus{
        background-color: #ffffff;
        color: #1D9DD9;
    }
    .nart-nav > li > a{
        color: #646464;
    }
