// LMS - assets - fonts
// ====================

// import from google fonts - Open Sans (http://www.google.com/fonts/specimen/Open+Sans)
@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('/static/fonts/DroidKufi-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('/static/fonts/DroidKufi-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

