.home {
  padding: 0px;
  .carousel-control.right{
    right: -136px;
    background-image:none;
  }
  .carousel-control.left{
    left: -136px;
    background-image:none;
  }

  > .container {
    @include box-sizing(border-box);
  }

  > header {
//    @include linear-gradient($homepage__header--gradient__color--alpha, $homepage__header--gradient__color--bravo);
    background-size: cover;
    background-image: $homepage-bg-image;
    background-position: right;
//    border-bottom: 1px solid $border-color-3;
    box-shadow: 0 1px 0 0 $course-header-bg, inset 0 -1px 5px 0 rgba(0,0,0, 0.1);
    @include clearfix;
    min-height: 440px;
    overflow: hidden;
    padding: 0px;

    .outer-wrapper {
//      @extend .animation-home-header-pop-up;
      margin: 10px auto;
      margin: 10px auto;
      position: relative;
      @include clearfix;

      #learn-more {
        margin-top:23px;
        font-weight: normal;
        color: #0b4141;
        border: 1px solid #0b4141;
        line-height: 28px;
        padding: 10px 15px;
        font-size: 16px;
        background-color: #cfe5e3;
        padding-bottom: 14px;
      }
      #learn-more:hover {
        background-color: transparent;
      }
    }
    #learn-more{
      margin-top:23px;
      font-weight: bold;
      float:left;
      color: #093434;
      border: 1px solid #093434;
      line-height: 28px;
      padding: 10px 15px;
    }
    .trans-bg{
//      background:rgba(0,0,0, 0.1);
//      padding-right: 0px;
//      margin-top:168px;
      height:150px

    }
    .slider-video-container{
      padding-left: 0px;
      margin-top: 15px;
      box-shadow: 0 0 5px #626262;
      padding-right: 0;

    }
    .title {
//          @include background-image(linear-gradient(left, rgba(0,0,0, 0.0) 10% , rgba(0,0,0, 1)));
      min-height: 150px;
      position: relative;
      @include transition(all 0.2s linear 0s);
//      float:left;
      text-align: left;

      &:hover, &:focus {
        .actions {
          display: none;
        }
      }

      > hgroup {
        @include box-sizing(border-box);
        display: inline-block;
        left: 0px;
        opacity: 1.0;
        padding-right: 20px ;
        top: 0px;
        @include transition(all 0.2s linear 0s);
        text-align: left;
        h1 {
          margin-bottom: 0px;
          margin-top: 60px;
          text-align: left;
          color:white;
          text-shadow: 0 1px rgba(255,255,255, 0.6);
          text-transform: none;
          font-size: 35px;
          line-height:42px;
          font-weight: bold;
          @media (max-width: 800px) {

          font-size: 25px !important;
  }
          @media (max-width: 1000px) {

          font-size: 40px;
  }

        }

        h2 {
          margin-bottom: 0;
          font-size: 24px;
          text-transform: lowercase;
          color:white;
          text-align: left;
        }
        p{
          color: white;
          width: 390px;
          margin-top: 16px;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    .actions {
      display: none;
    }

    .media {
//      background: #FFF;
//      background: $course-header-bg;
//      border: 1px solid $border-color-3;
//      border-left: 0;
//      @include box-sizing(border-box);
//      box-shadow: 0 4px 25px 0 rgba(0,0,0, 0.5);
      height: 285px;
      float: left;
//      padding: 4px;
      position: relative;
      vertical-align: top;
      width: 100%;
      z-index: 2;

      &:hover, &:focus {
        text-decoration: underline;
      }

      .hero1 {
        height: 100%;
        overflow: hidden;
        position: relative;
        background: url($video-thumb-url) center no-repeat;
        background-size: cover;

        .play-intro {

          &::after {
//            background-image: url('../images/play_video2.png');
            color: #fff;
            color: rgba(255,255,255, 0.8);
//            content: "\25B6";
            display: block;
            font: normal 2em/1em $droid-sans;
            left: 50%;
            margin-left: -11px;
            margin-top: -16px;
            position: absolute;
            text-shadow: 0 -1px rgba(0,0,0, 0.8);
            top: 50%;
          }
        }

        img {
          display: block;
          width: 100%;
        }
      }

      &:hover, &:focus {
        .play-intro {
          img {
            opacity: 1!important;
          }
//          @include background-image(linear-gradient(-90deg, rgba(0,0,0, 0.75), rgba(0,0,0, 0.8)));
//          box-shadow: 0 1px 12px 0 rgba(0,0,0, 0.5);
//          border-color: rgba(255,255,255, 0.9);

          &::after {
//            color: #fff;
//            color: rgba(255,255,255, 1);
          }
        }
      }
    }
    .header-title{

      background: rgba(0,166,170,0.7);
      font-size:15px;
      height: 95px;
      color:white;
      color:white;
      line-height: 20px;
      padding:10px;
          @media (max-width: 800px) {
          font-size: 14px !important;
  }
          @media (max-width: 1000px) {
          font-size: 15px !important;
  }
    }
  }

  .highlighted-courses {
    margin-bottom: 20px;
    z-index: 1;
    margin-top:59px;
    background-position: 0 -8px;

    .courses{

    }
    h2.main-title{
      position: relative;
      top:-9px;
      div{
        height: 43px;
        font-size: 24px !important;
        text-align: center;
      }
    }
  }

    #browse-all-courses {
      margin-top: 23px;
      font-weight: normal;
      color: #0b4141;
      border: 1px solid #0b4141;
      line-height: 28px;
      padding: 10px 15px;
      font-size: 16px;
      border-radius: 0px;
      padding-bottom: 14px;
    }
  #browse-all-courses:hover {
    background-color: #cfe5e3;
  }

  #how-it-work {
    background-color: #f0f0f0;
    position: relative;
    z-index: 1;
    margin-top: 51px;
    height: 440px;
    overflow: hidden;
    h1 {
      margin-top: 60px;
      margin-bottom: -10px;
      font-weight: bold;
      color: #018C8F;
      float: left;
      width: 100%;
      text-align: center;
    }
    .image {
      text-align: center;
    }
    p {
      text-align: center;
      width: 480px;
      margin: 0 auto;
      color: #8c8c8c;
    }
    .row {
      padding-top: 40px;
    }
    .point-holder {
      margin-bottom: 40px;
    }
    .carousel-indicators {

      li {
        background-color: #f0f0f0;
        border: 1px solid #bcbcbc;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        height: 15px;
        margin: 1px;
        text-indent: -999px;
        width: 15px;
      }
      .active {
        background-color: #cfe5e3;
        border: 1px solid #bcbcbc;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        height: 15px;
        margin: 1px;
        text-indent: -999px;
        width: 15px;
      }
    }

  }
  #collaborate-with-edraak {
    position: relative;
    z-index: 1;
    margin-top: 5px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #c8c8c8;
    h3{
      text-align: center;
      margin-top: 0px;
      float: left;
      width: 100%;
      color: #727272;
      font-size: 24px;
    }
    p {
      color: #018C8F;
      font-size: 22px;
      float: left;
      width: 100%;
      margin-top: 20px;
      line-height: 28px;
    }
    .collab-steps {
      color: #018C8F;
      float: left;
      margin-top: 25px;

      &:last-child {
        margin-right: 0;
      }

      h1{
        text-align: left;
        font-weight: bold;
        color: #018C8F;
        margin-bottom: 5px;
        font-size: 1.5em !important;
        line-height: 28px;
      }

      p {
        color: #727272;
        font-size: 14px;
        line-height: 22px;
        margin-top: 5px;
      }
    }
    #contact-us {
      text-align: center;
      color: #093434;
      border: 1px solid #093434;
      padding: 25px 10px;
      border-radius: 0;
      font-size: 20px;

      &:hover {
        background-color: white;
      }
    }
    .row {
      padding-top:36px;
    }
    .point-holder {
      margin-bottom:40px;
    }

  }

  .edraak-icon{
    background: url(../images/edraak_7up.png) no-repeat;
    width:62px;
    height:62px;
    position: relative;
    display: inline-block;
    vertical-align: bottom;

  }
  .icon-learn{
    background-position: 0 -10px;
  }
  .icon-join{
    background-position: -315px -10px;
    float:left;
  }
  .icon-achieve{
    background-position: -623px -10px;
  }
  .icon-earn{
    background-position: -408px -10px;
  }
  .icon-professors{
    background-position: -214px -10px;
    float:left;
  }
  .icon-education{
    background-position: -511px -10px;
    float:left;
  }
  .icon-companies{
    background-position: -110px -10px;
  }
   .sub-title-home{
     font-size:30px;
   }

    h2.main-title {
      padding-top:0px;
      margin-top:0;
      margin-bottom: 0;
      text-align: left;
      div {
        background:white;
        display: block;
        margin:auto;
        font-size:28px;
        color: #6e6f71;
        height: 25px;
        width:70%;
        text-transform: none;
        text-align: center;
      }
    }
  .university-partners {
    border-bottom: 1px solid $border-color-2;
    margin-bottom: 0px;
    overflow: hidden;
    position: relative;
    width: flex-grid(12);

    &::before {
      @extend %faded-hr-divider-medium;
      content: "";
      display: block;
    }

    &::after {
      @extend %faded-hr-divider-medium;
      content: "";
      display: block;
    }


    hr {
      @extend %faded-hr-divider-light;
      border: none;
      margin: 0px;
      position: relative;
      z-index: 2;

      &::after {
        @extend %faded-hr-divider;
        bottom: 0px;
        content: "";
        display: block;
        position: absolute;
        top: -1px;
      }
    }

    .partners {
      margin: 0 auto;
      padding: 20px 0px;
      text-align: center;

      li.partner {
        display: inline-block;
        padding: 0px 30px;
        position: relative;
        vertical-align: middle;
        overflow: hidden;

        &::before {
          @extend %faded-vertical-divider;
          content: "";
          display: block;
          height: 80px;
          right: 0px;
          position: absolute;
          top: -5px;
          width: 1px;
        }

        &::after {
          @extend %faded-vertical-divider-light;
          content: "";
          display: block;
          height: 80px;
          right: 1px;
          position: absolute;
          top: -5px;
          width: 1px;
        }

        &:last-child {
          &::before {
            display: none;
          }

          &::after {
            display: none;
          }
        }
      }

      a {
        @include transition(all 0.25s ease-in-out 0s);

        &::before {
          @include background-image(radial-gradient(50% 50%, circle closest-side, rgba(255,255,255, 1) 0%, rgba(255,255,255, 0) 100%));
          content: "";
          display: block;
          height: 200px;
          left: 50%;
          margin-left: -100px;
          margin-top: -100px;
          opacity: 0;
          width: 200px;
          position: absolute;
          @include transition(all 0.25s ease-in-out 0s);
          top: 50%;
          z-index: 1;
        }

        .name {
          bottom: -60px;
          left: 0px;
          position: absolute;
          text-align: center;
          @include transition(all 0.25s ease-in-out 0s);
          width: 100%;
          z-index: 2;

          > span {
            color: $base-font-color;
            font: 800 italic 1.4em/1.4em $droid-sans;
            text-shadow: 0 1px rgba(255,255,255, 0.6);
            @include transition(all 0.15s ease-in-out 0s);

            &:hover, &:focus {
              color: $lighter-base-font-color;
            }
          }
        }

        img {
          position: relative;
          @include transition(all 0.25s ease-in-out 0s);
          vertical-align: middle;
          z-index: 2;
        }

        &:hover, &:focus {
          text-decoration: none;

          &::before {
            opacity: 1.0;
          }

          .name {
            bottom: 20px;
          }

          img {
            top: -100px;
          }
        }
      }
    }

    &.university-partners2x6 {
      @include box-sizing(border-box);
      width: flex-grid(12, 12);

      .partners {
        @include box-sizing(border-box);
        @include clearfix();
        margin-left: 60px;
        padding: 12px 0;

        .partner {
          @include box-sizing(border-box);
          width: flex-grid(2, 12);
          display: block;
          float: left;
          padding: 0 12px;

          a {

            img {
              width: 100%;
              height: auto;
            }

            .name > span {
              font-size: 1.0em;
            }

            &:hover, &:focus {
              .name {
                bottom: 14px;
              }
            }
          }
        }
      }
    }
  }

  .more-info {
    border: 1px solid $border-color-2;
    margin-bottom: 80px;
    width: flex-grid(12);

    header {
      @include background-image(linear-gradient(-90deg, rgb(250,250,250), rgb(230,230,230)));
      border-bottom: 1px solid $border-color-2;
      @include clearfix;
      padding: 10px 20px 8px;
      position: relative;

      h2 {
        float: left;
        margin: 0px;
        text-shadow: 0 1px rgba(255,255,255, 0.6);
      }

      .action.action-mediakit {
        float: right;
        position: relative;
        top: 1px;
        font-family: $sans-serif;
        font-size: 14px;
        text-shadow: 0 1px rgba(255,255,255, 0.6);

        &:after {
          position: relative;
          top: -1px;
          display: inline-block;
          margin: 0 0 0 5px;
          content: "➤";
          font-size: 11px;
        }

        .org-name {
          color: $blue;
          font-family: $sans-serif;
          text-transform: none;
        }
      }
    }

    .news {
      @include box-sizing(border-box);
      box-shadow: inset 0 0 3px 0 rgba(0,0,0, 0.15);
      padding: 20px;
      width: flex-grid(12);

      .blog-posts {
        border-bottom: 1px solid $border-color-2;
        margin-bottom: 20px;
        padding-bottom: 20px;
        @include clearfix;

        > article {
          border: 1px dotted transparent;
          border-color: $border-color-2;
          @include box-sizing(border-box);
          @include clearfix;
          float: left;
          margin-right: flex-gutter();
          padding: 10px;
          @include transition(all 0.15s linear 0s);
          width: flex-grid(4);

          &:hover, &:focus {
            background: $body-bg;
            border: 1px solid $border-color-2;
            box-shadow: inset 0 0 3px 0 rgba(0,0,0, 0.1);
          }

          &:last-child {
            margin-right: 0px;
          }

          .post-graphics {
            border: 1px solid $border-color-1;
            @include box-sizing(border-box);
            display: block;
            float: left;
            height: 84px;
            margin-right: flex-gutter();
            overflow: hidden;
            width: flex-grid(4);
            vertical-align: top;

            img {
              min-height: 100%;
              max-width: 100%;
            }
          }

          .post-name {
            float: left;
            width: flex-grid(8);
            vertical-align: top;

            a {
              color: $base-font-color;
              font: 700 1em/1.2em $droid-sans;

              &:hover, &:focus {
                color: $blue;
                text-decoration: underline;
              }
            }

            .post-date {
              color: $lighter-base-font-color;
              display: none;
              letter-spacing: 1px;
            }
          }
        }
      }

      .press-links {
        h3 {
          display: inline;
          font-family: $sans-serif;
          font-weight: 700;
          line-height: 1.6em;
        }

        a {
          line-height: 1.6em;
          font-family: $serif;
          font-style: italic;
          margin-left: 10px;

          &.read-more {
            float: right;
            color: lighten($base-font-color, 50%);

            &:hover, &:focus {
              color: $blue;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .static-paragraph {
    width:100%;
    margin-top: 20px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(255, 255, 255, 0.9);
    .image{
      padding-right:0px;
    }
    .static-paragraph-body{
      padding-left:0px;
      .body{

      padding-left:52px;
      padding-top:30px;
      }
    }
    img{
      width:100%
    }
    .title{
      background: $light-blue;
      font-size:50px;
      height: 111px;
      line-height: 111px;
      color:white;
      font-weight: bold;
      h3{
        font-weight: bold;
        font-size:30px;
        color:#7d7d7d;
      }
      h4{
        margin:5px 0;
        font-size:25px;
        color:#7d7d7d;
      }
      padding-left:50px;
      padding-top:40px;
      color:white;
      line-height: 20px;
    }
  }
}
