@import "course_object";

.highlighted-courses, .find-courses {
  .courses {
    .course {
      float: right;

      .status {
        left: 0;
      }
      header.course-preview {
        background-image: none;
        hgroup {
          h2 {
            &:hover {
              li {
                margin-left: 0;
                margin-right: 30px;
              }
            }
          }
        }
      }
      .inner-wrapper {
        .start-end {
          .desc {
            float: left;
          }
          .bottom {
            float: right;
          }
        }
      }
      .info {
                &:hover {
          .course-number-hidden {
              display: none;
            }
            .show-course-details {
              display: inline;
              color: white;

              div {
                color: #6E6F71;
              }
            }
            ul {
              margin: 0 auto;
              padding: 0;
            }
            li {
              list-style-type: none;
              display: inline-block;
              margin-top: 10px;
              opacity: 0.65;
              margin-right: 30px;
              margin-left: 0;
            }
            li{
              &:hover{
                opacity: 1;
              }
            }
          }
      }
    }
  }
}