@import "footer";

.wrapper-footer {
  footer {
    .colophon {
      .nav-colophon {
        li {
          float: right;
          margin-left: ($baseline*0.75);
          margin-right: 0;
          border-left: 1px solid #676767;
          border-right: 0;
          padding-right: 0;
          padding-left: 15px;

          &:last-child {
            margin-left: 0;
            border-left: 0;
          }
        }
      }
      .colophon-about {
        float: right;

        p {
          float: right;
        }

        .nav-legal {
          text-align: right;
          float: right;
        }
      }
      .references {
        float: left;

        .powered-by {
          float: left;
        }
      }
    }
  }
}