@import "header";

header.global {
  h1.logo{
    float: right;
  }
  ol {
    &.left {
      float: left;
    }
    &.user {
      float: left;
    }
  }
  .nav-global {
    li {
      border-right: 0;
      border-left: 1px solid #646464;
      margin: 0;
      padding-right: 0;
      padding-left: 5px;

        &:last-child {
          margin-left: 0;
          border-left: 0;
      }
      a {
        font-size: 16px;
        letter-spacing: 0px;
      }
    }
    .nav-global-04 {
        border-left: 0 none;
      }

    &.authenticated {
      float: left;
      padding-left: 5px;
      padding-right: 0;

      li {
        border-left: 1px solid #646464;

        &:last-child {
          border: 0 none;
        }
      }
    }
  }

}

.language-select {
  float: left;
  margin-top: 37px;
  padding-left: 0;
  padding-right: 10px;
}