<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _, get_language
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>
<%page args="course" />
<article id="${course.id}" class="course">
  %if course.is_newish:
    <span class="status">${_("New")}</span>
  %endif

  <a href="${reverse('about_course', args=[course.id])}">
  <div class="inner-wrapper">
      <section class="info">
        <div class="cover-image" style="background-image: url('${course_image_url(course)}')">
            <div>

            </div>
        </div>
      <header class="course-preview">
        <hgroup>
          <h2>
              <span class="course-number-hidden">
##                  <span class="course-number">${course.display_number_with_default | h}</span>
                  ${get_course_about_section(course, 'title')}
              </span>
              <div class="show-course-details">
                  % if get_language() == 'ar':
                  <div>إنضم مجاناً ></div>
                  % else:
                  <div>Join Now ></div>
                  % endif
                  <ul>
                      <li><img alt="Post a Facebook message to say you've registered for this course" src="/static/images/social/facebook-sharing.png"></li>
                      <li><img alt="Tweet that you've registered for this course" src="/static/images/social/twitter-sharing.png"></li>
                      <li><img alt="Email someone to say you've registered for this course" src="/static/images/social/email-sharing.png"></li>
                  </ul>
              </div>
          </h2>
        </hgroup>
      </header>
        <div class="desc">
##          <p>${get_course_about_section(course, 'short_description')}</p>
        </div>
        <div class="bottom">
          % if not course.start_date_is_still_default:
          <span class="start-date">${course.start_date_text} - </span>
          <span class="start-date">${course.end_date_text}</span>
          % endif
        </div>
      </section>
    </div>
  </a>
</article>
